{{#if this}}
  {{#each this}}
    {{!-- <div class='movies-card-wrapper'> --}}
      <li class='movies-card'>
        <p class='movies-card-vote'>
          {{vote_average}}
        </p>
      <div class="image-wrapper">  <img
          data-action="{{id}}"
          class='movies-card-img'
          src="https://image.tmdb.org/t/p/w500{{poster_path}}"
          alt="{{title}}"
          onError="this.onerror=null;this.src='https://www.peakndt.com/wp-content/uploads/2017/02/No_picture_available.png';"
        /></div>

        <div class='description'>
          <p class='description-title'>
            {{title}}
          </p>
          {{!-- <div class='genre-release-date-container'> --}}
            <div class='description-genre-release-date'>
              {{#each genres}}
                <p class='genre-release-date-point'>
                  {{name}}
                </p>
              {{/each}}
            </div>
            <p class='description-release-date'>
              {{release_date}}
            </p>
          </div>

        </div>
      </li>
    {{!-- </div> --}}
  {{/each}}
{{else}}
  <div class='container'>
    <p class='no-movie-p'>
      🙄There are no movies here!
    </p>
    {{! <img
      class='no-movie'
      src='https://www.the413mom.com/.a/6a01b8d0ddeb49970c0240a48f1710200d-pi'
      alt='no movies'
    /> }}
  </div>
{{/if}}