{{#if this}}
  {{#each this}}
    <div class='movies-card-wrapper'>
      <div class='movies-card'>
        <p class='movies-card-vote'>
          {{vote_average}}
        </p>
        <img
          data-action="{{id}}"
          class='movies-card-img'
          src="https://image.tmdb.org/t/p/w500{{poster_path}}"
          alt="{{title}}"
          onError="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg';"
        />

        <div class='description'>
          <p class='description-title'>
            {{title}}
          </p>
          <div class='genre-release-date-container'>
            <div class='description-genre-release-date'>
              {{#each genres}}
                <p class='genre-release-date-point'>
                  {{name}}
                </p>
              {{/each}}
              <p class='description-release-date'>
                {{release_date}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <div class='container'>
    <p class='no-movie-p'>
      No movies here! Please add to "WACHED" or "QUEUE".
    </p>
    {{! <img
      class='no-movie'
      src='https://www.the413mom.com/.a/6a01b8d0ddeb49970c0240a48f1710200d-pi'
      alt='no movies'
    /> }}
  </div>
{{/if}}