{{#if this}}
{{#each this}}

<div class="movies-card-wrapper">
    <li class='movies-card'>
      <p class='movies-card-vote'>
        {{vote_average}}
      </p>
      <img data-action='{{id}}' class='movies-card-img' src="https://image.tmdb.org/t/p/w500{{poster_path}}"
        alt="{{title}}"  onError="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg';" />
    
      <div class='description'>
        <p class='description-title'>
          {{title}}
        </p>
        <div class='description-genre-release-date'>
          <p class='description-genre'>
            {{#each genres}}
            {{name}}
            {{/each}}
          </p>
          <p class='description-release-date'>
            {{release_date}}
          </p>
        </div>
      </div>
    </li>
</div>

{{/each}}
{{else}}
No movies here!
{{/if}}