{{#if this}}
  {{#each this}}
    <div class='movies-card-wrapper'>
      <div class='movies-card'>
        <p class='movies-card-vote'>
          {{vote_average}}
        </p>
        <img
          data-action="{{id}}"
          class='movies-card-img'
          src="https://image.tmdb.org/t/p/w500{{poster_path}}"
          alt="{{title}}"
          onError="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg';"
        />

        <div class='description'>
          <p class='description-title'>
            {{title}}
          </p>
          <div class='genre-release-date-container'>
            <div class='description-genre-release-date'>
              {{#each genres}}
                <p class='genre-release-date-point'>
                  {{name}}
                </p>
              {{/each}}
              <p class='description-release-date'>
                {{release_date}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
  <div class="arrow-slider">
    {{!-- <div class="btn__pagination__next"></div> --}}
    {{!-- <button class="btn__pagination__next"></button> --}}
    <svg class="btn__pagination__next" width="18px" height="17px" viewBox="-1 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <g>
        <polygon class="arrow-slider-pl"
          points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596">
        </polygon>
        <polygon class="arrow-slider-pl-fixed"
          points="16.3746667 8.33860465 7.76133333 15.3067621 6.904 14.3175671 14.2906667 8.34246869 6.908 2.42790698 7.76 1.43613596">
        </polygon>
        <path
          d="M-4.58892184e-16,0.56157424 L-4.58892184e-16,16.1929159 L9.708,8.33860465 L-1.64313008e-15,0.56157424 L-4.58892184e-16,0.56157424 Z M1.33333333,3.30246869 L7.62533333,8.34246869 L1.33333333,13.4327013 L1.33333333,3.30246869 L1.33333333,3.30246869 Z">
        </path>
      </g>
    </svg>
  </div>
{{else}}
  <div class='container'>
    <p class='no-movie-p'>
      No movies here! Please add to "WACHED" or "QUEUE".
    </p>
    {{! <img
      class='no-movie'
      src='https://www.the413mom.com/.a/6a01b8d0ddeb49970c0240a48f1710200d-pi'
      alt='no movies'
    /> }}
  </div>
{{/if}}