{{#each this}}
  <li class='movies-card' >
    <p class='movies-card-vote'>
      {{vote_average}}
    </p>
    <img data-action='{{id}}'
      class='movies-card-img'
      src="https://image.tmdb.org/t/p/w500{{poster_path}}"
      alt="{{title}}"
      
    />

    <div class='description'>
      <p class='description-title'>
        {{title}}
      </p>
      <div class='description-genre-release-date'>
        <p class='description-genre'>
          {{#each genres}}
            {{name}}
          {{/each}}
        </p>
        <p class='description-release-date'>
          {{release_date}}
        </p>
      </div>
    </div>
  </li>
{{/each}}